@page
@model Presentacion.Pages.Ofertas.CrearModel
@{ViewData["Title"]="Crear Oferta de Servicios";
}

<h1>Crear</h1>
<h4>Oferta de Servicios</h4>
<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">  @* Clase CSS  *@
    <hr />
    <div class="row">  @*  Clase CSS Para manejo de filas *@
        <div class=col-md-4>   @*  Clase CSS Para manejo de Columnas *@
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">   </div>
                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Oferta.Nombre" class="control-label">  </label>
                    <input asp-for="Oferta.Nombre" class="form-control"/>
                    <span asp-validation-for="Oferta.Nombre" class="text-danger"></span>

                </div>

                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Oferta.MaxMigrantes" class="control-label">  </label>
                    <input asp-for="Oferta.MaxMigrantes" class="form-control"/>
                    <span asp-validation-for="Oferta.MaxMigrantes" class="text-danger"></span>

                </div>


                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Oferta.FechaInicio" class="control-label">  </label>
                    <input asp-for="Oferta.FechaInicio" class="form-control"/>
                    <span asp-validation-for="Oferta.FechaInicio" class="text-danger"></span>

                </div>

                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Oferta.FechaFinal" class="control-label">  </label>
                    <input asp-for="Oferta.FechaFinal" class="form-control"/>
                    <span asp-validation-for="Oferta.FechaFinal" class="text-danger"></span>

                </div>

                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Oferta.Estado" class="control-label">  </label>
                    <input asp-for="Oferta.Estado" class="form-control"/>
                    <span asp-validation-for="Oferta.Estado" class="text-danger"></span>
                </div>

                @*
                <div class="form-group">
                    <label asp-for="Migrante.TipoDocumento" class="control-label"></label>
                     <select asp-for="Migrante.TipoDocumento" class="form-control" >
                        <option value="">--Seleccione estado-- </option>
                        <option value="Activo">Activo</option>
                        <option value="Cerrado">Cerrado</option>
                        <option value="Con cupo">Con cupo</option>
                        <option value="Sin cupo">Sin cupo</option>
                        
                    </select>
                </div>
                *@

                <div class="form-group">   @*  Clase CSS Para manejo de grupos *@
                    <input type="submit" value="Crear" class="btn btn-success" />

                </div>

            </form>

        </div>
    </div>
    <div>
        <a asp-page="Index">Regresar a Oferta de Servicios</a>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}