@page
@model Presentacion.Pages.Solicitudes.CrearModel
@{ViewData["Title"]="Crear Solicitud de Servicios";
}

<h1>Crear</h1>
<h4>Solicitud de Servicios</h4>
<h3>@ViewData["Mensaje"]</h3>

<div class="form-horizontal">  @* Clase CSS  *@
    <hr />
    <div class="row">  
        <div class=col-md-4>   
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger">   </div>

                @* Campo solicitud Categoria *@
                <div class="form-group">  
                    <label asp-for="Solicitud.Categoria" class="control-label">  </label>
                     <select asp-for="Solicitud.Categoria" class="form-control" >
                        <option value="">--Seleccione la Categoria-- </option>
                        <option value="Salud">Salud</option>
                        <option value="Alimentacion">Alimentacion</option>
                        <option value="Empleo">Empleo</option>
                        <option value="Alojamiento temporal">Alojamiento temporal</option>
                        <option value="Alojamiento permanente">Alojamiento permanente</option>
                        <option value="Educacion">Educacion</option>
                        <option value="Ayuda legal">Ayuda legal</option>
                    </select>
                </div>
                @* Campo solicitud Descripcion *@
                <div class="form-group">   @*  Clase CSS Para manejo de grupos*@
                    <label asp-for="Solicitud.Descripcion" class="control-label">  </label>
                    <input asp-for="Solicitud.Descripcion" class="form-control"/>
                    <span asp-validation-for="Solicitud.Descripcion" class="text-danger"></span>

                </div>

                @* Campo solicitud Prioridad *@
                <div class="form-group">  
                    <label asp-for="Solicitud.Prioridad" class="control-label">  </label>
                     <select asp-for="Solicitud.Prioridad" class="form-control" >
                        <option value="">--Seleccione la Prioridad-- </option>
                        <option value="Baja">Baja</option>
                        <option value="Media">Media</option>
                        <option value="Alta">Alta</option>
                    </select>
                </div>
                
               
                <div class="form-group">   @*  Clase CSS Para manejo de grupos *@
                    <input type="submit" value="Crear" class="btn btn-success" />

                </div>

            </form>

        </div>
    </div>
    <div>
        <a asp-page="Index">Regresar a Solicitud de Servicios</a>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}