@page
@model Presentacion.Pages.Usuarios.EditModel
@{
}

<div class="row">
    <div class="col-10">
        <h1>Usuario</h1>
    </div>
    <div class="col-2 text-right">
        <a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Listar" asp-page="./List">
            <i class="fas fa-list-ul"></i>
        </a>
    </div>
</div>
<form method="post" action="">
    <input type="hidden" asp-for="Usuario.Id">
    <div class="form-group">
        <label asp-for="Usuario.User"></label>
        <input asp-for="Usuario.User" class="form-control">
        <span asp-validation-for="Usuario.User" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario.Contrasena"></label>
        <input asp-for="Usuario.Contrasena" class="form-control">
        <span asp-validation-for="Usuario.Contrasena" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Usuario.Correo"></label>
        <input asp-for="Usuario.Correo" class="form-control">
        <span asp-validation-for="Usuario.Correo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Usuario.Rol" class="control-label"></label>
        <select asp-for="Usuario.Rol" class="form-control">
            <option value="">--Seleccione Rol-- </option>
            <option value="Administrador">Administrador</option>
            <option value="Migrante">Migrante</option>
            <option value="GerenteProyecto">Gerente de Proyecto</option>
            <option value="UsuarioEntidad">Usuario de Entidad Colaboradora</option>
        </select>
    </div>



    <button type="submit" class="btn btn-primary btn-block" data-toggle="tooltip" data-placement="top" title="Guardar">
        <i class="fas fa-2x fa-save"></i>        
    </button>
</form>
