@page
@model Presentacion.Pages.Usuarios.EliminarModel
@{
}

<body>
    <div class="login-box col-4 offset-md-4">    
        <h1 class="text-danger">Eliminar Cliente</h1>
        <form method="post" action="">
            <h4 class="text-danger">El Cliente ha sido Eliminado!! </h4>

                <aside class="container-buttons">
                        <a class="btn table-btn" asp-page="./List"><i class="fas fa-boxes fa-lg"></i><br><strong>Usuarios</strong></a>
                </aside>
            
        </form>
    </div>
</body>